*{

box-sizing:border-box;
margin:0;
padding:0;

}



body{

font-family:Arial,sans-serif;

background:#f7f7f5;

color:#171717;

}



.navbar{

width:min(1100px,90%);

margin:auto;

padding:30px 0;

display:flex;

justify-content:space-between;

}



.logo{

font-weight:bold;

font-size:20px;

}



nav button{

border:none;

background:none;

margin-left:20px;

cursor:pointer;

}





.hero{

width:min(1100px,90%);

margin:auto;

min-height:650px;

display:flex;

align-items:center;

}



.eyebrow{

font-size:12px;

letter-spacing:.1em;

text-transform:uppercase;

color:#777;

margin-bottom:20px;

}



h1{

font-size:80px;

line-height:.95;

letter-spacing:-.05em;

}



.description{

margin-top:30px;

max-width:500px;

color:#666;

line-height:1.6;

font-size:18px;

}



.primary-button{

margin-top:30px;

padding:15px 25px;

background:#171717;

color:white;

border:none;

cursor:pointer;

}



.secondary-button{

margin-top:20px;

padding:12px 20px;

border:1px solid #171717;

background:white;

cursor:pointer;

}




.subjects{

width:min(1100px,90%);

margin:auto;

padding:80px 0;

}



.section-heading{

margin-bottom:50px;

}



.section-heading h2{

font-size:50px;

}



.subjects-grid{

display:grid;

grid-template-columns:repeat(2,1fr);

}



.subject-card{

padding:30px;

border:1px solid #ddd;

}



.subject-card h3{

font-size:24px;

}



.subject-card p{

margin-top:15px;

color:#666;

}



.review-button{

margin-top:25px;

border:none;

background:none;

cursor:pointer;

font-weight:bold;

}






.quiz{

width:min(800px,90%);

margin:auto;

padding:80px 0;

}



.quiz-box h2{

margin:30px 0;

font-size:35px;

}



#subjectTitle{

font-weight:bold;

}



#questionNumber{

margin-top:15px;

color:#777;

}




.progress{

height:8px;

background:#ddd;

margin-top:20px;

}



#progressBar{

height:100%;

width:0%;

background:#171717;

}




.choice-button{

display:block;

width:100%;

padding:15px;

margin-top:12px;

background:white;

border:1px solid #ddd;

cursor:pointer;

text-align:left;

}



.choice-button.selected{

background:#171717;

color:white;

}



.hidden{

display:none;

}



#resultText{

font-size:25px;

margin-top:30px;

font-weight:bold;

}



footer{

width:min(1100px,90%);

margin:auto;

padding:30px 0;

border-top:1px solid #ddd;

color:#777;

}